.name{
    font-family: 'Times New Roman';
}
body{
    background-color: goldenrod;
    color: aliceblue;
    text-align: center;
}
p{
    font-size: 25px;
}
#pic{
    width: 800px;
    border-radius: 5%;
}
.contact{
    text-align: right;
}
.contact iframe{
    width:  100%;
}
i{
    color: aliceblue;
}