.name{
    font-family: 'Times New Roman';
}
body{
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
}
img{
    border-radius: 5%;
}
p{
    font-size: 25px;
}
.pic{
    width: 800px;
}